<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/stylesheet.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
        <div id="main" class ="main"> 
            <div class = "bigbox">
                <div>
                    <h1>Please Choose a Category</h1>
                </div>
                
                <div class = "box">
                    <div>
                        <button id="fantasy"> 
                        <img src = "/static/images/fantasy.jpeg" style="cursor:pointer;" height=142 width=142>        
                        <p> Fantasy </p>
                    </div>
                    
                    <div>
                        <button id="mystery"> 
                        <img src = "/static/images/mystery.jpeg" height=142 width=142>
                    
                        <p> Mystery </p>
                    </div>
                
                    <div>
                        <button id="romance"> 
                        <img src = "/static/images/romance.jpeg" height=142 width=142>
                    
                        <p> Romance </p>
                    </div>
                
                    <div>
                        <button id="zombies"> 
                        <img src = "/static/images/zombie.jpg" height=142 width=142>
                    </a>
                        <p> Zombies </p>
                    </div>
                
                    <div>
                        <button id="historical"> 
                        <img src = "/static/images/historical.jpeg" height=142 width=142>
                    </a>
                        <p> Historical </p>
                    </div>
                
                    <div>
                        <button id="cyberpunk"> 
                        <img src = "/static/images/cyberpunk.jpeg" height=142 width=142>
                    </a>
                        <p> Cyberpunk </p>
                    </div>
                
                </div>
               </div>
            </div>
            
       

        <script src="/static/scriptindex.js" async defer></script>
    </body>
</html>